# Selecting and indexing data

In [1]:
from pandas_datareader import data
import datetime

In [2]:
def inc_def(c, o):
        if c > o:
            value = 'Increase'
        elif c < o:
            value = 'Decrease'
        else:
            value = 'Equal'
        return value

In [3]:
end = datetime.datetime.now()
start = end - datetime.timedelta(days=90)

df = data.DataReader('AAPL', 'morningstar', start, end)

In [4]:
df.index = df.index.droplevel(0)

In [5]:
df.shape

(64, 5)

In [6]:
df.head()

             Close     High      Low    Open    Volume
Date
2017-12-21  175.01  176.020  174.100  174.17  20949896
2017-12-22  175.01  175.424  174.500  174.68  16349443
2017-12-25  175.01  175.010  175.010  175.01         0
2017-12-26  170.57  171.470  169.679  170.80  33185536
2017-12-27  170.60  170.780  169.710  170.10  21498213

In [7]:
df['Status'] = [inc_def(c, o) for c, o in zip(df.Close, df.Open)]
df['Middle'] = (df.Close + df.Open)/2
df['Height'] = abs(df.Open - df.Close)

In [9]:
df.index[df.Status == 'Increase']

DatetimeIndex(['2017-12-21', '2017-12-22', '2017-12-27', '2017-12-28',
               '2018-01-02', '2018-01-04', '2018-01-05', '2018-01-10',
               '2018-01-11', '2018-01-12', '2018-01-17', '2018-01-30',
               '2018-01-31', '2018-02-01', '2018-02-06', '2018-02-12',
               '2018-02-13', '2018-02-14', '2018-02-15', '2018-02-16',
               '2018-02-22', '2018-02-23', '2018-02-26', '2018-03-02',
               '2018-03-05', '2018-03-07', '2018-03-08', '2018-03-09',
               '2018-03-12', '2018-03-15'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [10]:
df.Close[df.Status == 'Increase']

Date
2017-12-21    175.01
2017-12-22    175.01
2017-12-27    170.60
2017-12-28    171.08
2018-01-02    172.26
2018-01-04    173.03
2018-01-05    175.00
2018-01-10    174.29
2018-01-11    175.28
2018-01-12    177.09
2018-01-17    179.10
2018-01-30    166.97
2018-01-31    167.43
2018-02-01    167.78
2018-02-06    163.03
2018-02-12    162.71
2018-02-13    164.34
2018-02-14    167.37
2018-02-15    172.99
2018-02-16    172.43
2018-02-22    172.50
2018-02-23    175.50
2018-02-26    178.97
2018-03-02    176.21
2018-03-05    176.82
2018-03-07    175.03
2018-03-08    176.94
2018-03-09    179.98
2018-03-12    181.72
2018-03-15    178.65
Name: Close, dtype: float64

# filter-function

In [16]:
l = [4, 17, 23, 12, 6, 57, 84]
l2 = []

def is_even(j):
    return j % 2 == 0

In [17]:
for i in l:
    if is_even(i):
        l2.append(i)

print(l2)

[4, 12, 6, 84]

In [18]:
l3 = list(filter(is_even, l))
print(l3)

[4, 12, 6, 84]

In [20]:
def gt_10(j):
    return j > 10

In [21]:
l2 = []
for i in l:
    if is_even(i) and gt_10(i):
        l2.append(i)

print(l2)

[12, 84]

In [22]:
l3 = []
l3 = list(filter(is_even, filter(gt_10, l)))
print(l3)

[12, 84]

# map-function

In [23]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l_square = []

In [24]:
def square(j):
    return j ** 2

In [25]:
for i in l:
    l_square.append(square(i))

print(l_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
l_square = []
l_square = map(square, l)
print(list(l_square))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
list(map(str, filter(is_even, l)))

['2', '4', '6', '8', '10']

# reduce-function

In [31]:
from functools import reduce

In [32]:
l = range(1, 6)

In [33]:
def mult(x, y):
    return x*y

In [35]:
factorial = reduce(mult, l)
print(factorial)

120

In [37]:
1*2*3*4*5

120